.basket-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s;
}

.basket-btn.active {
  background-color: rgb(236, 236, 236);
}

.basket-btn svg {
  width: 25px;
  height: 25px;
  transition: fill 0.3s;
}

.basket-btn:hover svg {
  fill: #ffa413;
}

.basket-btn:active svg {
  fill: #f08400;
}

.basket-btn:focus-visible {
  background-color: #fde7cd;
}
