/* Шапка */
.header {
  margin-bottom: 20px;
  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  align-self: center;
}

/* Навигация */
.header__navigation {
  display: flex;
}
