.clients__table {
  width: 100%;
  min-width: 984px;
  margin-bottom: 40px;
}

.clients__item {
  display: flex;
  align-items: center;
  padding: 23px;
  border-bottom: 1px solid var(--light-grey);
  background-color: var(--white);
}

.client__id {
  width: 6%;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--grey);
}

.clients__fio {
  width: 25%;
  font-size: 14px;
  color: var(--black);
}

.clients__fio span {
  display: inline-block;
}

.clients__fio span:not(:last-child) {
  margin-right: 5px;
}

.clients__create {
  width: 13%;
}

.clients__change {
  width: 13%;
  padding-left: 48px;
}

.create__date,
.change__date {
  margin-right: 10px;
  font-size: 14px;
  color: var(--black);
}

.create__time,
.change__time {
  font-size: 14px;
  color: var(--grey);
}

.clients__contacts {

  margin: -10px 2px -17px 71px;
  max-width: 108px;
  min-width: 108px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.clients__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.clients__actions button {
  display: inline-block;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: transparent;
  padding-left: 20px;
  color: var(--black);
}

.clients__edit {
  position: relative;
  margin-right: 30px;
  background-image: url(../img/edit.svg);
  transition: color 0.3s ease-in-out;
}

.clients__delete {
  position: relative;
  background-image: url(../img/cancel.svg);
  transition: color 0.3s ease-in-out;
}

.clients__edit:hover {
  color: var(--lilac);
}

.clients__delete:hover {
  color: var(--red);
}

.contacts__link {
  position: relative;
  width: 16px;
  height: 16px;
  margin-bottom: 7px;
}

.contacts__link g,
.contacts__link path {
  transition:  opacity 0.3s ease-in-out;
}

.contacts__link:hover g,
.contacts__link:hover path {
  opacity: 1;
}

.contacts__link:not(:last-child) {
  margin-right: 7px;
}

.action-wait {
  background-image: none;
}

.actions__spinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  animation: spinner .3s ease-in-out;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.clients__edit .actions__spinner svg {
  stroke: var(--lilac);
  fill: none;
}

.clients__delete .actions__spinner svg {
  stroke: var(--red);
  fill: none;
}

@keyframes spinner {
  0%{
    transform:rotate(0deg)
  }

  100%{
    transform:rotate(360deg)
  }
}
