.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 9.030119895935059px 27.09035873413086px 0px rgba(176, 190, 197, 0.32);
}

.header__container {
  padding: 20px;
  max-width: 1014px;
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: 53px;
}

.header__form {
  width: 100%;
}

.header__input {
  height: 44px;
  width: 100%;
  max-width: 581px;
  padding-left: 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  color: var(--black);
  outline: none;
}

.header__input::placeholder {
  font-size: 14px;
  color: var(--grey);
}
